body {
	background-color: #ecf0f1;
	
}
p, h1 {
	color: #2c3e50;
	color: #2c3e50;
}

hr {
	background: #2c3e50;
	height: 1px;
}

#first-block{
    padding-top: 80px;
}
#mobile iframe{
  max-width: 100%;
}
body, label,form, h1, h3, h4, p{
  font-family: "Courier New";
  background-color: #ecf0f1;
}

#mail{
  text-align: center;
 }

#icons{
    max-height: 50px;
}
